<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>RKSV Stock App</title>
	<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="app/assets/styles/style.css">
	<script data-require="angular.js@1.5.3" data-semver="1.5.3" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="bower_components/d3/d3.min.js" charset="utf-8"></script>
	<script src="bower_components/nvd3/build/nv.d3.min.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/services/services.js"></script>
	<script type="text/javascript" src="app/controllers/companyStock.js"></script>
</head>
<body ng-app="stockApp">
	<div ng-controller="companyStockCtrl as company" class="container-fluid">
		<div class="company-heading row text-center">
			<span ng-if="company.stock.error" ng-bind="company.stock.error"></span>
			<h3 ng-bind="company.name" class="company-name col-md-12 no-margin-bottom"></h3>
			<h2 ng-bind="company.liveStock.open" class="col-md-12 no-margin"></h2>
		</div>

		<div class="quick-stats row">
			<div class="individual-stat col-md-2 col-sm-4 col-xs-4 text-center">
				<div class="stat-name">Open</div>
				<div class="stat-value" ng-bind="company.stock.open"></div>
			</div>
			<div class="individual-stat col-md-2 col-sm-4 col-xs-4 text-center">
				<div class="stat-name">High</div>
				<div class="stat-value" ng-bind="company.stock.high"></div>
			</div>
			<div class="individual-stat col-md-2 col-sm-4 col-xs-4 text-center">
				<div class="stat-name">Low</div>
				<div class="stat-value" ng-bind="company.stock.low"></div>
			</div>
			<div class="individual-stat col-md-2 col-sm-4 col-xs-4 text-center">
				<div class="stat-name">Volume</div>
				<div class="stat-value" ng-bind="company.stock.volume"></div>
			</div>
			<div class="individual-stat col-md-2 col-sm-4 col-xs-4 text-center">
				<div class="stat-name">52wk High</div>
				<div class="stat-value" ng-bind="company.fiftyTwoWeekStats.high"></div>
			</div>
			<div class="individual-stat col-md-2 col-sm-4 col-xs-4 text-center">
				<div class="stat-name">52wk Low</div>
				<div class="stat-value" ng-bind="company.fiftyTwoWeekStats.low"></div>
			</div>
		</div>

		<div class="historical-chart-container">
			<div data-ng-init="company.getHistoricalData()">
				<nvd3 ng-if="company.data" options="company.options" data="company.data" class="with-3d-shadow with-transitions"></nvd3>
			</div>
		</div>

		<div class="timeline-breakdown row">
			<div ng-repeat="timeline in company.timelines"
					 class="col-md-2 col-xs-2 col-sm-2 text-center individual-timeline"
					 ng-bind="timeline"
					 ng-click="company.onClickTab(timeline)"
					 ng-class="{activetab: company.isActiveTab(timeline)}">
			</div>
		</div>

		<div class="stock-actions text-center">
			<input class="btn btn-primary btn-lg btn-action" type="button" name="sell-share" value="SELL">
			<input class="btn btn-primary btn-lg btn-action" type="button" name="buy-share" value="BUY">
		</div>
	</div>
</body>
</html>
