.company-heading { margin-bottom: 20px; }

.company-name { color: #58A1F5; }

.no-margin { margin: 0 !important; }

.no-margin-bottom { margin-bottom: 0 !important; }

.individual-stat,
.individual-timeline { border: 1px solid #A6A6A6; }

.stat-name { color: #58A1F5; }

.stat-value { font-size: 20px; }

.timeline-breakdown { margin: 10px 0; }

.individual-timeline {
	cursor: pointer;
	padding: 5px 0;
}

.activetab {
  background-color: #58A1F5;
  color: #FFF;
}

.stock-actions {
	margin-top: 30px;
	margin-bottom: 50px;
}

.btn-action {
	font-weight: 300;
	transition: 0.4s all;
}

.btn-action:hover {
	font-weight: 700;
}